FRIDIE_ENVIRONMENT=development
FRIDIE_MONGODB_URI=mongodb://fridie:change-this-local-password@mongodb:27017/FRIDIE?authSource=admin
FRIDIE_MONGODB_DATABASE=FRIDIE
FRIDIE_CORS_ORIGINS=http://localhost:3000,http://localhost:4173
FRIDIE_OLLAMA_BASE_URL=http://host.docker.internal:11434
FRIDIE_OLLAMA_MODEL=
FRIDIE_OLLAMA_TIMEOUT_SECONDS=3
MONGO_INITDB_ROOT_USERNAME=fridie
MONGO_INITDB_ROOT_PASSWORD=change-this-local-password
